* {
  background-origin: border-box;
}

ul, ol {
  padding: 0;
}

.main-container {
  margin-top: 70px;
}

.df {
  display: flex;
}

.line-text {
  text-decoration: line-through;
}

.item {
  padding: 20px;
  background-color: rgb(224, 224, 224);
  border-radius: 12px;
  border: 1px solid black;
}

.inserted-list-item {
  cursor: pointer;
}

.error:focus {
  border: 2px solid red;
}

.btn {
  margin-left: 20px;
}

.task-list {
  margin-left: 30px;
}
